body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h3 {
    text-align: center;
}
#display {
    width: calc(100% - 20px); /* Adjusted width to fit inside the container */
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.operator {
    background-color: #3498db; /* Blue color for operators */
    color: #fff;
}
.cancel {
    background-color: red;
}
.small {
    font-size: 0.8em;
}

.wide {
    grid-column: span ; /* Button spans two columns */
    background-color: #2ecc71; /* Green color for "=" button */
    color: #fff;
    justify-self: self-start; /* Center-align "=" button */
}

.equals {
    grid-column: span 2; /* "=" button spans two columns */
    grid-row: span 2; /* "=" button spans two rows */
}
